:root {
  --main-color: #fae719;
  --second-color: #b8aa14;
  --background-text-black: #18191a;
  --surface-dark-color: #2a2a2a;
  --secondary-text-color: #5d5e5e;
  --surface-light-color: #f8f8f5;
  --background-text-white: #ffffff;
}

$mobile: 375px;
$mobile-only: 1023px;
$tablet: 1024px;
$desktop: 1920px;
