:root {
  --primary-color: #111518;
  --secondary-color: #3d3d3d;
  --primary-text-color: #b9b9b9;
  --accent-color: #ff6b09;
  --primary-light: #ffffff;
}

$mobile: 480px;
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1440px;
