<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>advantages intertool-test</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="title-categories">
          <h1 class="title">НАШІ ПЕРЕВАГИ</h1>
        </div>
        <ul class="advantages list">
          <li class="advantages_item"></li>
          <li class="advantages_item">
            <a href="#" class="advantages_link link"></a
            ><img
              src="./images/advantages/3.png"
              alt="advantages"
              class="advantages_img"
            />
            <p class="advantages_name">ГАРАНТІЯ</p>
            <p class="advantages_disc">
              На весь інструмент - офіційна гарантія виробника. Гарантійне та
              сервісне обслуговування проводиться сервісними центрами.
            </p>
          </li>
          <li class="advantages_item">
            <a href="#" class="advantages_link link"></a
            ><img
              src="./images/advantages/4.png"
              alt="advantages"
              class="advantages_img"
            />
            <p class="advantages_name">ДОСТАВКА</p>
            <p class="advantages_disc">
              Оперативна доставка. "Нова Пошта", "Делівері", "Міст експрес",
              "УкрПошта", "Justin" - обирайте будь-яку!
            </p>
          </li>
          <li class="advantages_item">
            <a href="#" class="advantages_link link"></a
            ><img
              src="./images/advantages/1.png"
              alt="advantages"
              class="advantages_img"
            />
            <p class="advantages_name">БОНУСИ</p>
            <p class="advantages_disc">
              Купуйте більше - платіть менше! Отримуйте бонуси на покупки в
              інших магазинах. Прогресивна дисконтна та накопичувальна система.
            </p>
          </li>
          <li class="advantages_item">
            <a href="#" class="advantages_link link"></a
            ><img
              src="./images/advantages/2.png"
              alt="advantages"
              class="advantages_img"
            />
            <p class="advantages_name">АКЦІЇ</p>
            <p class="advantages_disc">
              Знижки до 50% щомісяця. Сезонні знижки, тематичні акції, знижки на
              окремі бренди.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
