<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories intertool-test</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="title-categories">
          <h1 class="title">ПОПУЛЯРНЫЕ КАТЕГОРИИ</h1>
          <a href="#" class="all_link link">
            <h2 class="title_all">ВСЕ КАТЕГОРИИ</h2>
          </a>
        </div>
        <ul class="categories list">
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_1.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Автоінструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_2.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Ручний інструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_3.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Електроінструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_4.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Пневмоінструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_1.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Автоінструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_2.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Ручний інструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_3.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Електроінструмент</p>
            </a>
          </li>
          <li class="categoties_item">
            <a href="#" class="categories_link link">
              <img
                src="./images/categories/image_4.png"
                alt="tool"
                class="img"
              />
              <p class="discription">Пневмоінструмент</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
