<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intertool-test</title>
  </head>
  <body>
    <header class="header">
      <div class="container flex">
        <a href="#" class="logo link">
          <img
            class="img_logo"
            src="./images/header/logo_intertool.png"
            alt=""
          />
        </a>
        <div class="menu-conteiner" data-menu>
          <nav class="nav">
            <ul class="navigation list">
              <li class="navigation__item">
                <a href="#" class="navigation__link link">акції</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">клієнтам</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">блог</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">про нас</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">контакти</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">статус заказа</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">ми зателефонуємо</a>
              </li>
            </ul>
          </nav>
        </div>
        <ul class="icons list">
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-products"></use>
              </svg>
            </a>
          </li>
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-heart"></use>
              </svg>
            </a>
          </li>
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-cabinet"></use>
              </svg>
            </a>
          </li>
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-shopping_cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="container search_header">
        <button
          type="button"
          class="navigation__button-menu"
          aria-expanded="false"
          aria-controls="menu-conteiner"
          data-menu-button
        >
          <svg aria-label="Переключатель мобильного меню" class="button_svg">
            <use
              class="icon-cross"
              href="./images/header/symbol-defs.svg#icon-close"
            ></use>
            <use
              class="icon-menu"
              href="./images/header/symbol-defs.svg#icon-menu"
            ></use>
          </svg>
        </button>
        <div class="catalog">
          <a href="#" class="link link_catalog">
            <svg class="catalog_svg_icon">
              <use href="./images/icon-defs.svg#icon-catalog"></use>
            </svg>
          </a>
          <p class="catalog_tovarov">каталог товаров</p>
        </div>
        <div class="input_serch_block">
          <div class="input__wrapper">
            <input type="text" class="input" placeholder="Поиск по сайту" />
            <svg class="input__icon">
              <use href="./images/icon-defs.svg#icon-search"></use>
            </svg>
          </div>
          <button type="submit" class="find_button">ЗНАЙТИ</button>
        </div>
        <div class="contact">
          <a href="tel:+380505522945" class="contacts__tel link"
            >050 552 29 45</a
          >
          <a href="tel:+380671478055" class="contacts__tel link"
            >067 147 80 55</a
          >
          <a href="tel:+380931700776" class="contacts__tel link"
            >093 170 07 76</a
          >
        </div>
        <div class="discription_contacts">
          <p class="dis_contact">Прийом дзвінків</p>
          <p class="dis_contact">Пн-Пт: 08:00 – 20:00</p>
          <p class="dis_contact">Сб - Нд: 08:00 – 17:00</p>
        </div>
        <a href="#" class="icons-catalog link">
          <svg class="catalog_svg">
            <use href="./images/icon-defs.svg#icon-catalog"></use>
          </svg>
        </a>
      </div>
    </header>
  </body>
</html>
