<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intertool-test</title>
  </head>
  <body>
    <header class="header">
      <div class="container flex">
        <a href="" class="logo link">
          <img
            class="img_logo"
            src="./images/header/logo_intertool.png"
            alt=""
          />
        </a>
        <div class="menu-conteiner" data-menu>
          <nav class="nav">
            <ul class="navigation list">
              <li class="navigation__item">
                <a href="#" class="navigation__link link">акції</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">клієнтам</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">блог</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">про нас</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">контакти</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">статус заказа</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link link">ми зателефонуємо</a>
              </li>
            </ul>
          </nav>
        </div>
        <ul class="icons list">
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-products"></use>
              </svg>
            </a>
          </li>
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-heart"></use>
              </svg>
            </a>
          </li>
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-cabinet"></use>
              </svg>
            </a>
          </li>
          <li class="icons-item">
            <a href="#" class="icons-header link">
              <svg class="icon-svg">
                <use href="./images/icon-defs.svg#icon-shopping_cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <button
          type="button"
          class="navigation__button-menu"
          aria-expanded="false"
          aria-controls="menu-conteiner"
          data-menu-button
        >
          <svg
            width="21"
            height="12"
            aria-label="Переключатель мобильного меню"
          >
            <use
              class="icon-cross"
              href="./images/header/symbol-defs.svg#icon-close"
            ></use>
            <use
              class="icon-menu"
              href="./images/header/symbol-defs.svg#icon-menu"
            ></use>
          </svg>
        </button>
      </div>
    </header>
  </body>
</html>
