<header class="header">
  <div class="conteiner flex">
    <a href="" class="logo link">
      <svg class="heder-logo" width="80" height="20">
        <use href="./images/header/symbol-defs.svg#icon-logo"></use>
      </svg>
      <div><span class="logo-text">Hellish&nbsp;</span>english</div>
    </a>
    <div class="menu-conteiner" data-menu>
      <a href="" class="logo-menu link">
        <svg class="heder-logo" width="80" height="30">
          <use href="./images/header/symbol-defs.svg#icon-logo_menu"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="navigation list">
          <li class="navigation__item">
            <a href="#program" class="navigation__link link"
              >Studying program</a
            >
          </li>
          <li class="navigation__item">
            <a href="#about" class="navigation__link link">About</a>
          </li>
          <li class="navigation__item">
            <a href="#training" class="navigation__link link"
              >Training options</a
            >
          </li>
          <li class="navigation__item">
            <a href="#footer" class="navigation__link link">Contacts</a>
          </li>
        </ul>
        <a href="#tel-number" class="consultation link"
          >Consultation by phone</a
        >
      </nav>
    </div>
    <a href="#tel-number" class="consultation-tablet link"
      >Consultation by phone</a
    >
    <button
      type="button"
      class="navigation__button-menu"
      aria-expanded="false"
      aria-controls="menu-conteiner"
      data-menu-button
    >
      <svg width="21" height="12" aria-label="Переключатель мобильного меню">
        <use
          class="icon-cross"
          href="./images/header/symbol-defs.svg#icon-close"
        ></use>
        <use
          class="icon-menu"
          href="./images/header/symbol-defs.svg#icon-menu"
        ></use>
      </svg>
    </button>
  </div>
</header>
