<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Intertool-test</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div
          class="itc-slider"
          data-slider="itc-slider"
          data-loop="true"
          data-autoplay="true"
          data-interval="4000"
        >
          <div class="itc-slider__wrapper">
            <div class="itc-slider__items">
              <div class="itc-slider__item">
                <!-- Контент 1 слайда -->
                <img src="./images/hero/photo3.png" alt="foto" class="slide" />
              </div>
              <div class="itc-slider__item">
                <!-- Контент 2 слайда -->
                <img src="./images/hero/photo1.png" alt="foto" class="slide" />
              </div>
              <div class="itc-slider__item">
                <!-- Контент 3 слайда -->
                <img src="./images/hero/photo2.png" alt="foto" class="slide" />
              </div>
            </div>
          </div>
          <ol class="itc-slider__indicators">
            <!-- data-slide-to="0" – для перехода к 1 слайду -->
            <li class="itc-slider__indicator" data-slide-to="0"></li>
            <!-- data-slide-to="1" – для перехода к 2 слайду -->
            <li class="itc-slider__indicator" data-slide-to="1"></li>
            <!-- data-slide-to="2" – для перехода к 3 слайду -->
            <li class="itc-slider__indicator" data-slide-to="2"></li>
          </ol>
          <!-- Кнопки для перехода к предыдущему и следующему слайду -->
          <button class="itc-slider__btn itc-slider__btn_prev"></button>
          <button class="itc-slider__btn itc-slider__btn_next"></button>
        </div>
      </div>
    </section>
  </body>
</html>
