<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hitssales intertool-test</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="hits">
          <div class="hits-categories hits-categories__current">
            <h1 class="title_hits">Акції</h1>
            <a href="#" class="hits_link link">
              <h2 class="hits_all">ДИВИТИСЬ ВСІ</h2>
            </a>
          </div>
        </div>
        <ul class="promotions list">
          <li class="promotion_item">
            <a href="#" class="promotion_link link">
              <p class="sales">-25%</p>
              <img
                src="./images/promotions/image.png"
                alt="газонокосилка"
                class="img_sales"
              />
              <p class="model">GT0102</p>
              <p class="promotion_disc">
                Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм
                INTERTOOL
              </p>
              <p class="prise">1 749 грн</p>
            </a>
          </li>
          <li class="promotion_item">
            <a href="#" class="promotion_link link">
              <p class="sales">-25%</p>
              <img
                src="./images/promotions/image.png"
                alt="газонокосилка"
                class="img_sales"
              />
              <p class="model">GT0102</p>
              <p class="promotion_disc">
                Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм
                INTERTOOL
              </p>
              <p class="prise">1 749 грн</p>
            </a>
          </li>
          <li class="promotion_item">
            <a href="#" class="promotion_link link">
              <p class="sales">-25%</p>
              <img
                src="./images/promotions/image.png"
                alt="газонокосилка"
                class="img_sales"
              />
              <p class="model">GT0102</p>
              <p class="promotion_disc">
                Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм
                INTERTOOL
              </p>
              <p class="prise">1 749 грн</p>
            </a>
          </li>
          <li class="promotion_item">
            <a href="#" class="promotion_link link">
              <p class="sales">-25%</p>
              <img
                src="./images/promotions/image.png"
                alt="газонокосилка"
                class="img_sales"
              />
              <p class="model">GT0102</p>
              <p class="promotion_disc">
                Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм
                INTERTOOL
              </p>
              <p class="prise">1 749 грн</p>
            </a>
          </li>
          <li class="promotion_item">
            <a href="#" class="promotion_link link">
              <p class="sales">-25%</p>
              <img
                src="./images/promotions/image.png"
                alt="газонокосилка"
                class="img_sales"
              />
              <p class="model">GT0102</p>
              <p class="promotion_disc">
                Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм
                INTERTOOL
              </p>
              <p class="prise">1 749 грн</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
