<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reviews intertool-test</title>
  </head>
  <body>
    <div class="container">
      <div class="title-categories">
        <h1 class="title">ВІДГУКИ</h1>
        <a href="#" class="all_link link">
          <h2 class="title_all">ВСІ ВІДГУКИ</h2>
        </a>
      </div>
      <div
        class="itc-slider"
        data-slider="itc-slider"
        data-loop="true"
        data-autoplay="true"
        data-interval="4000"
      >
        <div class="itc-slider__wrapper">
          <div class="itc-slider__items">
            <div class="itc-slider__item">
              <!-- Контент 1 слайда -->
              <div class="reviews_cont_review">
                <div class="review">
                  <div class="reviews_contaner">
                    <img
                      src="./images/reviews/avatar.png"
                      alt="foto"
                      class="reviews_foto"
                    />
                    <div class="name_star">
                      <p class="name_reviews">Ростислав</p>
                      <div class="stars">
                        <img src="./images/reviews/star.png" alt="star" />
                        <img src="./images/reviews/star.png" alt="star" />
                        <img src="./images/reviews/star.png" alt="star" />
                        <img src="./images/reviews/star.png" alt="star" />
                        <img src="./images/reviews/star.png" alt="star" />
                      </div>
                    </div>
                  </div>
                </div>
                <p class="reviews_disc">
                  Купую в цьому інтернет-магазині не перший рік інструмент,
                  собі, в подарунок друзям, дуже задоволений.
                </p>
                <div class="date_read">
                  <p class="date">22 Вересня 2021</p>
                  <a href="#" class="read_link link">ЧИТАТИ</a>
                </div>
              </div>
            </div>

            <div class="itc-slider__item">
              <div class="review">
                <div class="reviews_contaner">
                  <img
                    src="./images/reviews/avatar.png"
                    alt="foto"
                    class="reviews_foto"
                  />
                  <div class="name_star">
                    <p class="name_reviews">Ростислав</p>
                    <div class="stars">
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="reviews_disc">
                Купую в цьому інтернет-магазині не перший рік інструмент, собі,
                в подарунок друзям, дуже задоволений.
              </p>
              <div class="date_read">
                <p class="date">22 Вересня 2021</p>
                <a href="#" class="read_link link">ЧИТАТИ</a>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="review">
                <div class="reviews_contaner">
                  <img
                    src="./images/reviews/avatar.png"
                    alt="foto"
                    class="reviews_foto"
                  />
                  <div class="name_star">
                    <p class="name_reviews">Ростислав</p>
                    <div class="stars">
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="reviews_disc">
                Купую в цьому інтернет-магазині не перший рік інструмент, собі,
                в подарунок друзям, дуже задоволений.
              </p>
              <div class="date_read">
                <p class="date">22 Вересня 2021</p>
                <a href="#" class="read_link link">ЧИТАТИ</a>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="review">
                <div class="reviews_contaner">
                  <img
                    src="./images/reviews/avatar.png"
                    alt="foto"
                    class="reviews_foto"
                  />
                  <div class="name_star">
                    <p class="name_reviews">Ростислав</p>
                    <div class="stars">
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="reviews_disc">
                Купую в цьому інтернет-магазині не перший рік інструмент, собі,
                в подарунок друзям, дуже задоволений.
              </p>
              <div class="date_read">
                <p class="date">22 Вересня 2021</p>
                <a href="#" class="read_link link">ЧИТАТИ</a>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="review">
                <div class="reviews_contaner">
                  <img
                    src="./images/reviews/avatar.png"
                    alt="foto"
                    class="reviews_foto"
                  />
                  <div class="name_star">
                    <p class="name_reviews">Ростислав</p>
                    <div class="stars">
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="reviews_disc">
                Купую в цьому інтернет-магазині не перший рік інструмент, собі,
                в подарунок друзям, дуже задоволений.
              </p>
              <div class="date_read">
                <p class="date">22 Вересня 2021</p>
                <a href="#" class="read_link link">ЧИТАТИ</a>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="review">
                <div class="reviews_contaner">
                  <img
                    src="./images/reviews/avatar.png"
                    alt="foto"
                    class="reviews_foto"
                  />
                  <div class="name_star">
                    <p class="name_reviews">Ростислав</p>
                    <div class="stars">
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="reviews_disc">
                Купую в цьому інтернет-магазині не перший рік інструмент, собі,
                в подарунок друзям, дуже задоволений.
              </p>
              <div class="date_read">
                <p class="date">22 Вересня 2021</p>
                <a href="#" class="read_link link">ЧИТАТИ</a>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="review">
                <div class="reviews_contaner">
                  <img
                    src="./images/reviews/avatar.png"
                    alt="foto"
                    class="reviews_foto"
                  />
                  <div class="name_star">
                    <p class="name_reviews">Ростислав</p>
                    <div class="stars">
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                      <img src="./images/reviews/star.png" alt="star" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="reviews_disc">
                Купую в цьому інтернет-магазині не перший рік інструмент, собі,
                в подарунок друзям, дуже задоволений.
              </p>
              <div class="date_read">
                <p class="date">22 Вересня 2021</p>
                <a href="#" class="read_link link">ЧИТАТИ</a>
              </div>
            </div>
          </div>
        </div>
        <ol class="itc-slider__indicators">
          <!-- data-slide-to="0" – для перехода к 1 слайду -->
          <li class="itc-slider__indicator" data-slide-to="0"></li>
          <!-- data-slide-to="1" – для перехода к 2 слайду -->
          <li class="itc-slider__indicator" data-slide-to="1"></li>
          <!-- data-slide-to="2" – для перехода к 3 слайду -->
          <li class="itc-slider__indicator" data-slide-to="2"></li>
          <!-- data-slide-to="2" – для перехода к 4 слайду -->
          <li class="itc-slider__indicator" data-slide-to="3"></li>
          <!-- data-slide-to="2" – для перехода к 5 слайду -->
          <li class="itc-slider__indicator" data-slide-to="4"></li>
          <!-- data-slide-to="2" – для перехода к 6 слайду -->
          <li class="itc-slider__indicator" data-slide-to="4"></li>
          <!-- data-slide-to="2" – для перехода к 7 слайду -->
          <li class="itc-slider__indicator" data-slide-to="4"></li>
        </ol>
        <!-- Кнопки для перехода к предыдущему и следующему слайду -->
        <button class="itc-slider__btn itc-slider__btn_prev"></button>
        <button class="itc-slider__btn itc-slider__btn_next"></button>
      </div>
    </div>
  </body>
</html>
