.header {
  position: relative;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-text-black);
}
.logo {
  margin-top: 28px;
  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.img_logo {
  width: 145px;
  @media screen and (min-width: $tablet) {
    width: 188px;
  }
  @media screen and (min-width: $desktop) {
    width: 193px;
  }
}
.nav {
  margin: 0 auto;
}
.navigation {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.navigation__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 60px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--background-text-white);
  &:hover,
  &:focus {
    color: var(--main-color);
  }
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 20px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 24px;
  }
  @media screen and (min-width: $mobile) {
    margin-right: 24px;
  }
}
.icons-header {
  stroke: var(--background-text-white);
  &:hover,
  &:focus {
    stroke: var(--main-color);
  }
}
.icon-svg {
  width: 32px;
  height: 32px;
  @media screen and (min-width: $mobile) and (max-width: 1919px) {
    width: 24px;
    height: 24px;
  }
}

.navigation__button-menu {
  position: relative;

  z-index: 20;

  border: none;
  background-color: transparent;

  @media screen and (max-width: $tablet) {
    // margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.navigation__button-menu .icon-cross {
  display: none;
}
.navigation__button-menu.is-open .icon-cross {
  display: block;
}
.navigation__button-menu.is-open .icon-menu {
  display: none;
}

.menu-conteiner {
  display: none;
  background-color: rgba(17, 21, 24, 0.9);
  padding-left: 20px;
  padding-right: 40px;
  &.is-open {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.button_svg {
  width: 32px;
  height: 32px;
  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 48px;
  }
}
.search_header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  @media screen and (min-width: $mobile) and (max-width: 1919px) {
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.input_serch_block {
  display: flex;
  // align-items: center;
  // justify-content: center;
  @media screen and (min-width: $desktop) {
    margin-left: 116px;
  }
}
.input__wrapper {
  position: relative;
}
.input {
  padding: 10px 0px 10px 44px;
  font-size: 15px;
  border: none;
  outline: none;
  width: 265px;
  transition: border-color 0.1s linear;
  background-color: #f8f8f5;
  caret-shape: underscore;
  caret-color: var(--main-color);
  @media screen and (min-width: $tablet) {
    width: 812px;
    height: 44px;
  }
}

.input__icon {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 235px;
  top: 5px;
  fill: var(--secondary-text-color);
  transition: fill 0.1s linear;
  @media screen and (min-width: $tablet) {
    right: 780px;
  }
}

.input:focus {
  border: 1px solid var(--main-color);
  border-color: var(--main-color);
}

.input:focus + .input__icon {
  fill: var(--main-color);
}

.catalog_svg {
  stroke: var(--background-text-black);
  fill: #f8f8f5;
  width: 32px;
  height: 32px;
  &:hover,
  &:focus {
    stroke: var(--main-color);
  }
  @media screen and (min-width: $tablet) {
    width: 46px;
    height: 46px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.catalog_svg_icon {
  display: none;
  stroke: var(--background-text-black);
  fill: #f8f8f5;
  width: 46px;
  height: 46px;
  &:hover,
  &:focus {
    stroke: var(--main-color);
  }
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.find_button {
  @media screen and (min-width: $mobile) and (max-width: 1919px) {
    display: none;
  }
  display: block;
  width: 102px;
  height: 44px;
  background-color: var(--main-color);
  border: none;

  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: var(--second-color);
    color: var(--background-text-white);
  }
}
.catalog {
  display: flex;
  align-items: center;
}
.catalog_tovarov {
  @media screen and (min-width: $mobile) and (max-width: 1919px) {
    display: none;
  }
  display: block;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--background-text-black);
  &:hover {
    color: var(--main-color);
  }
}
.contact {
  display: flex;
  flex-direction: column;
  margin-left: 79px;
  @media screen and (min-width: $mobile) and (max-width: 1919px) {
    display: none;
  }
}

.discription_contacts {
  margin-left: 10px;
  @media screen and (min-width: $mobile) and (max-width: 1919px) {
    display: none;
  }
}
.contacts__tel {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--background-text-black);
  &:hover,
  &:focus {
    color: var(--main-color);
  }
}
.dis_contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--background-text-black);

  opacity: 0.5;
}
